<%- include("partials/header") -%>
<div class="container">
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <input type="text" name="composeText" />
    <button type="submit" name="button">Publish</button>
  </form>
</div>

<%- include("partials/footer") -%>
